{{#if shift}}
    {{input type="radio" id=id name="phase" action="shift" on="focus-in"}}
    <label for="phase{{label}}">
        <span class="verticalArrow"></span>
        <span class="horizontalArrow"></span>
    </label>

    {{#if shiftPhase}}
        OK
    {{/if}}
{{else}}
    {{input type="radio" id=id name="phase" action="setStamp" on="focus-in"}}
    <label for="phase{{label}}">{{label}}</label>
{{/if}}
