<fieldset class="colours">
    <legend>Tags</legend>
<!--
    <div>
        <input type="input" data-colour="A4A4A7" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="FC6360" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="F7A550" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="F3CD56" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="70CA57" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="51B9F1" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="CF8BDF" onclick={{action 'updateColour'}} />
    </div>
    <div>
        <input type="input" data-colour="BAB9C3" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="FFAEAE" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="FFBB94" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="FFF0AA" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="B0E57C" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="B4D8E7" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="CCAFE7" onclick={{action 'updateColour'}} />
    </div>
-->
<div class="cont">
<div class="wheel">
    <a href="/" class="sector three"></a>
    <a href="/" class="sector four"></a>
    <a href="/" class="sector five"></a>
    <a href="/" class="sector six"></a>
    <a href="/" class="sector seven"></a>
    <a href="/" class="sector eight"></a>
    <a href="/" class="sector nine"></a>
    <a href="/" class="sector ten"></a>
    <a href="/" class="sector eleven"></a>
    <a href="/" class="sector twelve"></a>
    <a href="/" class="sector"></a>
    <a href="/" class="sector two"></a>

</div>
<div class="wheel wheel2">
    <a href="/" class="sector three"></a>
    <a href="/" class="sector four"></a>
    <a href="/" class="sector five"></a>
    <a href="/" class="sector six"></a>
    <a href="/" class="sector seven"></a>
    <a href="/" class="sector eight"></a>
    <a href="/" class="sector nine"></a>
    <a href="/" class="sector ten"></a>
    <a href="/" class="sector eleven"></a>
    <a href="/" class="sector twelve"></a>
    <a href="/" class="sector"></a>
    <a href="/" class="sector two"></a>
</div>

<div class="wheel wheel3">
</div>
</div>
</fieldset>
