<div class="tileContainer" data-container="{{item.id}}" data-active="{{if paint isActive selected}}">
    <a href="project/{{item.short}}/select" data-assignment="{{item.id}}" data-stamp="true" data-active="{{if paint isActive selected}}" {{action "select" on="click" event=event}}>
        <span></span>
    </a>
    {{#unless paint}}
        <input type="checkbox" id={{concat 'ass-' item.id '-v'}} checked={{selected}} onclick={{action "select" event=event}}>
    {{/unless}}
</div>
