{{#if assignment.w}}
    <style>
        [data-assignment="{{assignment.id}}"] { width:{{widthCalc}}px; }
    </style>
    <div data-assignment="{{assignment.id}}" data-type="tile" data-x="{{assignment.x}}" data-y="0" data-width="{{assignment.w}}">
        {{#if assignment.active}}
            {{#if showHandles}}
                <div class="handle left"></div>
                <div class="handle right"></div>
            {{/if}}
        {{/if}}
    </div>
{{/if}}
