<ul class="viewOptions">
    {{#unless readonly}}
        <li class="lock">
            <a href="/" {{action "editing" on="click"}}></a>
        </li>
    {{/unless}}

    {{#if resource.hasDirects}}
        <li class="expand {{collapse}}">
            <a href="/" class="" {{action "toggleDirects" on="click"}}></a>
        </li>
    {{/if}}
</ul>

<div class="name long" data-type="value">{{assignment.long}}</div>
{{#if editing}}
    <ul class="tileOptions">
        <li class="assignments">
            <a href="#" data-assignment="{{assignment.id}}" data-stamp="true" {{action "select" on="click" event=event}} data-active="true"><span></span></a>
        </li>
    </ul>
    {{else}}
<div class="name short" data-type="value">{{assignment.short}}</div>
{{/if}}
