{{#each model as |item|}}
    {{#unless item.hidden}}
        {{assignment-tile-item item=item paint=paint model=model}}
    {{/unless}}
    {{!  still render the style for hidden assignments so painted tiles get the proper styles}}
    {{#unless paint}}
        <style>
            [data-route='roadmap.index'] [data-id='{{item.id}}'][data-active="true"] {
                border-top-color:#{{item.background}};
            }
            [data-id='{{item.id}}'] .info .name,
            .tileContainer[data-container="{{item.id}}"]:after,
            [data-assignment="{{item.id}}"] { background:#{{item.background}} !important; }
            [data-assignment="{{item.id}}"][data-stamp="true"]:before { content:'{{item.short}}' }
            [data-assignment="{{item.id}}"][data-stamp="true"]:hover:after { content:'{{item.long}}' }
        </style>
    {{/unless}}
{{/each}}
{{#unless paint}}
    {{#if constants.assArray}}
        <button class="clear" {{action "clear" on="click" event=event}}>Clear All</button>
    {{/if}}
{{/unless}}
