<style>
    #phaseStampCustomization {
        left:{{left}}px;
        margin-left:5px;
        top:{{top}}px;
    }
</style>
<form {{action "submit" on="submit"}}>
    <div class="form-group">
        <label for="phaseNumber">Number</label>
        {{input type="text" id="phaseNumber" key-up="updateNum" value=getNum}}
    </div>

    <div class="form-group">
        <label for="customShortDesc">Short Description</label>
        {{input type="text" id="customShortDesc" focus-in="createShortDesc" focus-out="checkShortDesc" key-up="updateShortDesc" value=getShortDesc}}
    </div>

    {{#if showLongDesc}}
        <div class="form-group">
            <label for="customLongDesc">Long Description</label>
            {{input type="text" id="customLongDesc" key-up="updateLongDesc" value=getLongDesc}}
        </div>
    {{/if}}

    <fieldset class="duration">
        <legend>Duration</legend>
        <div class="form-group">
            <label for="numWeeks">Weeks</label>
            <input type="number" id="numWeeks" onfocus={{action 'createDuration'}} onblur={{action 'checkDuration'}} onkeyup={{action 'updateWeeks'}} onclick={{action 'updateWeeks'}} value={{getWeeks}} min="0">
        </div>

        <div class="form-group">
            <label for="numDays">Days</label>
            <select id="numDays" onfocus={{action 'createDuration'}} onblur={{action 'checkDuration'}} onchange={{action 'updateDays'}} value={{getDays}}>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>

        <div class="form-group">
            <label for="startsOn">Starts On</label>
            <select id="startsOn" onchange={{action 'updateStartsOn'}} onfocus={{action 'createStartsOn'}} onblur={{action 'checkStartsOn'}} value={{getStartsOn}}>
                <option value="S">Sat</option>
                <option value="N">Sun</option>
                <option value="M">Mon</option>
                <option value="T">Tues</option>
                <option value="W">Wed</option>
                <option value="R">Thu</option>
                <option value="F">Fri</option>
            </select>
        </div>

        <div class="dateSummary">
            <div>Fr: {{getFromDay}}</div>
            <div>To: {{getToDay}}</div>
        </div>
    </fieldset>

    <input type="submit" {{action "back" on="keyDown"}} {{action "submit" on="click"}} value="OK">
</form>
