{{date-line}}
{{#each model as |assignment|}}
    {{#if (assignment-view-people settings.view assignment.id currentAssignment)}}
    <section class="resourceRow{{if assignment.hidden ' hidden'}}"
        data-active="{{assignment.active}}"
        data-name="{{assignment.short}}"
        data-id="{{assignment.id}}"
    >
    	<div class="row" data-view="assignment" data-shift="{{shiftPhase}}" data-stamping="{{stampPhase}}">
            {{#if settings.isDailyCalendar}}
                {{calendar-holiday-tiles}}
            {{/if}}
            {{#if assignment.active}}
                <div class="pointer"></div>
                <div class="sizer"></div>
            {{/if}}
            {{assignment-block assignment=assignment}}
            <div class="phases">{{{assignment.phases}}}</div>
        </div>
        {{assignment-info
            togglePhaseLink="togglePhaseLink"
            resource=assignment
            assignment=assignment
            currentAssignment=currentAssignment
            viewPeopleAssigned=viewPeopleAssigned
            persons=persons
            shiftPhase=shiftPhase
            stampPhase=stampPhase
            phaseToShift=phaseToShift
            row=row
            rowComponent=rowComponent
        }}
        <style>
            [data-phaselink]{ margin-left:{{rowComponent.shiftHorizontal}}px; }
            [data-phaselink].active{ margin-top:{{rowComponent.shiftVertical}}px; }
        </style>
    </section>
    {{/if}}
{{/each}}
{{#if settings.isDailyCalendar}}
    {{#each persons as |resource|}}
        <section class="resourceRow">
        	<div class="row" data-view="timeOff">
                {{calendar-holiday-tiles}}
                <div class="tiles">{{{resource.timeaway}}}</div>
            </div>
        {{resource-info model=persons index=index resource=resource readonly=true}}
        </section>
    {{/each}}
{{/if}}
