<ul class="viewOptions">
    {{#unless constants.teamAssignmentView}}
        {{#unless shiftPhase}}
            <li class="lock">
                <a href="/" {{action "editing" on="click"}}></a>
            </li>
        {{/unless}}
    {{else}}
        <li class="viewTeam">
            <a href="/" {{action "viewTeam" on="click"}}><span></span></a>
        </li>
    {{/unless}}
</ul>

<div class="name long" data-type="value">{{assignment.long}}</div>
{{#if editing}}
    <ul class="tileOptions">
        <li class="assignments">
            <div data-assignment="{{assignment.id}}" data-stamp="true" data-active="true"><span></span></div>
        </li>
    </ul>
    {{assignment-phases assignment=assignment shift="assignment.phases" phaseAction=phaseAction phaseToShift=phaseToShift row=row rowComponent=rowComponent}}
{{else}}
    <div class="name short" data-type="value">{{assignment.short}}</div>
{{/if}}
