{{#if constants.editingRow}}
    {{#unless omit}}
        {{#if isEmpty}}
            <a href="#" data-assignment="empty" data-stamp="true" class="empty" data-active="true" {{action "select" on="click" event=event}}><span></span></a>
        {{else}}
            <a href="#" data-assignment="empty" data-stamp="true" class="empty" data-active="false" {{action "select" on="click" event=event}}><span></span></a>
        {{/if}}
    {{/unless}}
{{/if}}

{{#each model as |item|}}
    {{#unless omit}}
        {{#unless item.hidden}}
            {{#if constants.editingRow}}
                <a href="#" data-assignment="{{item.id}}" data-stamp="true" {{action "select" on="click" event=event}} data-active="{{settings-default-tile 'assignment' item.id}}"><span></span></a>
            {{else}}
                {{assignment-tile-item item=item}}
            {{/if}}
        {{/unless}}
    {{/unless}}
    {{!  still render the style for hidden assignments so painted tiles get the proper styles}}
    <style>
        .tileContainer[data-container="{{item.id}}"]:before,
        [data-assignment="{{item.id}}"] { background:#{{item.background}} !important; }
        [data-assignment="{{item.id}}"][data-stamp="true"]:after { content:'{{item.short}}' }
        [data-assignment="{{item.id}}"][data-stamp="true"]:hover:before{ content:'{{item.long}}' }
    </style>
{{/each}}
