<fieldset class="details">
    <legend>Details</legend>
    <section contenteditable="true" onkeyup={{action 'keyup'}} onfocus={{action 'checkEmpty'}} onblur={{action 'updateDetails'}} onpaste={{action 'paste'}}>
        {{{getDetails}}}
    </section>
</fieldset>
