<fieldset class="colours">
    <legend>Tags</legend>
<!--
    <div>
        <input type="input" data-colour="A4A4A7" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="FC6360" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="F7A550" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="F3CD56" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="70CA57" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="51B9F1" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="CF8BDF" onclick={{action 'updateColour'}} />
    </div>
    <div>
        <input type="input" data-colour="BAB9C3" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="FFAEAE" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="FFBB94" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="FFF0AA" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="B0E57C" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="B4D8E7" onclick={{action 'updateColour'}} />
        <input type="input" data-colour="CCAFE7" onclick={{action 'updateColour'}} />
    </div>
-->
<div class="cont">
<div class="wheel">
    <input class="sector three">
    <input class="sector four">
    <input class="sector five">
    <input class="sector six">
    <input class="sector seven">
    <input class="sector eight">
    <input class="sector nine">
    <input class="sector ten">
    <input class="sector eleven">
    <input class="sector twelve">
    <input class="sector">
    <input class="sector two">

</div>
<div class="wheel wheel2">
    <input class="sector three">
    <input class="sector four">
    <input class="sector five">
    <input class="sector six">
    <input class="sector seven">
    <input class="sector eight">
    <input class="sector nine">
    <input class="sector ten">
    <input class="sector eleven">
    <input class="sector twelve">
    <input class="sector">
    <input class="sector two">
</div>

<div class="wheel wheel3">
</div>
</div>
</fieldset>
