<ul class="viewOptions">
    {{#unless constants.teamAssignmentView}}
        <li class="lock">
            <a href="/" {{action "editing" on="click"}}></a>
        </li>
    {{else}}
        <li class="viewTeam">
            <a href="/" {{action "viewTeam" on="click"}}><span></span></a>
        </li>
    {{/unless}}
</ul>

<div class="name long" data-type="value">{{assignment.long}}</div>
{{#if editing}}
    <ul class="tileOptions">
        <li class="assignments">
            <a href="#" data-assignment="{{assignment.id}}" data-stamp="true" {{action "select" on="click" event=event}} data-active="{{assignment.paint}}"><span></span></a>
            <a href="#" data-assignment="empty" data-stamp="true" class="empty" data-active="{{if assignment.paint false true}}" {{action "select" on="click" event=event}}><span></span></a>
        </li>
    </ul>
    {{assignment-phases assignment=assignment shiftPhase=shiftPhase}}
    {{#if assignment.phases}}
        {{assignment-phases assignment=assignment shiftPhase=shiftPhase shift=true}}
    {{/if}}
{{else}}
    <div class="name short" data-type="value">{{assignment.short}}</div>
{{/if}}
