<fieldset class="colours">
    <legend>Tags</legend>
    <div>
        <input type="button" data-colour="A4A4A7" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="FC6360" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="F7A550" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="F3CD56" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="70CA57" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="51B9F1" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="CF8BDF" onclick={{action 'updateColour'}} />
    </div>
    <div>
        <input type="button" data-colour="BAB9C3" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="FFAEAE" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="FFBB94" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="FFF0AA" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="B0E57C" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="B4D8E7" onclick={{action 'updateColour'}} />
        <input type="button" data-colour="CCAFE7" onclick={{action 'updateColour'}} />
    </div>
</fieldset>
