{{#each model as |assignment|}}
    <section class="resourceRow{{if resource.hidden ' hidden'}}" data-active="{{resource.active}}"
        data-name="{{resource.name}}"
        data-id="{{resource.id}}"
    >
    	<div class="row" data-view="timeOff">
            <div class="pointer"></div>
            <div class="sizer"></div>
            <div class="tiles">
            </div>
            <div class="short" data-type="value">{{assignment.short}}</div>
            <div class="long" data-type="value">{{assignment.long}}</div>
            <div class="background" data-type="value">{{assignment.background}}</div>
        </div>
    </section>
{{/each}}
