<div id="year">2016</div>
<div class="menu">
    <ul class="tileOptions">
        {{#if settings.isWeeklyCalendar}}
            <li class="assignments">
                {{assignment-tile model=model settings=settings}}
            </li>
        {{/if}}
        {{#if settings.isDailyCalendar}}
            <li class="timeAway">
                {{time-away settings=settings}}
            </li>
        {{/if}}
    </ul>

    <div class="buttonContainer">
        {{#if settings.isWeeklyCalendar}}
            <button class="changeView" {{action "toggleView" 'timeaway' on="click"}}>
                <span class="timeOff">Time off</span>
            </button>
        {{/if}}
        {{#if settings.isDailyCalendar}}
            <button class="changeView" {{action "toggleView" 'assignment' on="click"}}>
                <span class="assignment">Assignment</span>
            </button>
        {{/if}}

        {{#if this.constants.draggable}}
            <button id="dragDisable" {{action "dragDisable" on="click"}}><span>Drag Done</span></button>
        {{else}}
            <button id="dragEnable" {{action "dragEnable" on="click"}}><span>Drag Sort</span></button>
        {{/if}}

        {{#if settings.hasCalendar}}
            <button id="today" {{action "scrollToday" on="click"}}><span>Today</span></button>
        {{/if}}

        <ul class="viewOptions">
            <li class="profile">
                <a href="/" {{action "addEmployee"}}><span></span></a>
            </li>
            <li class="toggle">
                <a href="/" {{action "toggleViewHiddenRows" on="click"}}><span></span></a>
            </li>
        </ul>
    </div>

    {{#if this.constants.saving}}
        <div id="saving"><span>Saving</span></div>
    {{/if}}
</div>

{{#if settings.isWeeklyCalendar}}
    {{calendar-widget elementId="calendarWeekly" daily=false width=width}}
{{/if}}

{{#if settings.isDailyCalendar}}
    {{calendar-widget elementId="calendarDaily" daily=true width=width}}
{{/if}}
