<div id="year">2016</div>
<div class="menu">
    <ul class="tileOptions">
        {{#if settings.isWeeklyCalendar}}
            <li class="assignments">
                {{assignment-tile model=model settings=settings}}
            </li>
        {{/if}}
        {{#if settings.isDailyCalendar}}
            <li class="timeAway">
                {{time-away settings=settings}}
            </li>
        {{/if}}
    </ul>

    <div class="buttonContainer">
        <ul class="viewOptions">
            {{#if settings.isWeeklyCalendar}}
                <li class="timeaway">
                    <a href="/" {{action "toggleView" 'timeaway' on="click"}}>
                        <span class="start"></span>
                        <span class="reset"></span>
                        <span class="hands"></span>
                        <span class="time" data-time="3"></span>
                        <span class="time" data-time="6"></span>
                        <span class="time" data-time="9"></span>
                        <span class="time" data-time="12"></span>
                        <span class="text">Track Out of Office</span>
                    </a>
                </li>
            {{/if}}

            {{#if settings.isDailyCalendar}}
                <li class="assignment">
                    <a href="/" {{action "toggleView" 'assignment' on="click"}}>
                        <span class="pencil"><span class="wood"></span></span>
                        <span class="text">Track Assignments</span>
                    </a>
                </li>
            {{/if}}

            {{#if this.constants.draggable}}
                <li class="dragSort">
                    <a href="/" {{action "dragDisable" on="click"}}>
                        <span></span>
                        <span class="text">Drag Sort</span>
                    </a>
                </li>
            {{else}}
                <li class="dragSort">
                    <a href="/" {{action "dragEnable" on="click"}}>
                        <span class="leftArrow"></span>
                        <span class="rightArrow"></span>
                        <span class="text">Drag Sort</span>
                    </a>
                </li>
            {{/if}}

            {{#if settings.hasCalendar}}
                <li class="today">
                    <a href="/" {{action "scrollToday" on="click"}}>
                        <span class="date"><span>{{constants.todayDate}}</span></span>
                        <span class="page"></span>
                        {{#if settings.isDailyCalendar}}
                            <span class="text">Scroll to Today</span>
                        {{else}}
                            <span class="text">Scroll to This Week</span>
                        {{/if}}
                    </a>
                </li>
            {{/if}}
            <li class="profile">
                <a href="/" {{action "addEmployee"}}>
                    <span class="person female">
                        <span class="hair"></span>
                        <span class="face"></span>
                        <span class="neck"></span>
                    </span>
                    <span class="plus"></span>
                    <span class="text">New Employee</span>
                </a>
            </li>
            <li class="toggle">
                <a href="/" {{action "toggleViewHiddenRows" on="click"}}>
                    <span class="eye"></span>
                    {{#if settings.isHiddenRows}}
                        <span class="text">Hide Hidden Rows</span>
                    {{else}}
                        <span class="text">Show Hidden Rows</span>
                    {{/if}}
                </a>
            </li>
        </ul>
    </div>

    {{#if this.constants.saving}}
        <div id="saving"><span>Saving</span></div>
    {{/if}}
</div>

{{#if settings.isWeeklyCalendar}}
    {{calendar-widget elementId="calendarWeekly" daily=false width=width}}
{{/if}}

{{#if settings.isDailyCalendar}}
    {{calendar-widget elementId="calendarDaily" daily=true width=width}}
{{/if}}
