<div id="year">2016</div>
<div class="menu">
    <ul class="tileOptions">
        {{#if settings.isWeeklyCalendar}}
            <li class="assignments">
                {{assignment-tile model=model settings=settings}}
            </li>
        {{/if}}
        {{#if settings.isDailyCalendar}}
            <li class="timeAway">
                {{time-away settings=settings}}
            </li>
        {{/if}}
    </ul>

    <div class="buttonContainer">
        {{#if settings.isWeeklyCalendar}}
            <button class="changeView" {{action "toggleView" 'timeaway' on="click"}}>
                <span class="timeOff">Time off</span>
            </button>
        {{/if}}

        <ul class="viewOptions">
            {{#if settings.isDailyCalendar}}
                <li class="assignment">
                    <a href="/" class="assignment" {{action "toggleView" 'assignment' on="click"}}>
                        <div class="lapiz"><span class="lapiz3"></span></div>
                    </a>
                </li>
            {{/if}}

            {{#if this.constants.draggable}}
                <li class="dragSort">
                    <a href="/" {{action "dragDisable" on="click"}}><span></span></a>
                </li>
            {{else}}
                <li class="dragSort">
                    <a href="/" {{action "dragEnable" on="click"}}><span></span></a>
                </li>
            {{/if}}

            {{#if settings.hasCalendar}}
                  <li class="today">
                      <a href="/" {{action "scrollToday" on="click"}}><span>{{constants.todayDate}}</span></a>
                  </li>
            {{/if}}
            <li class="profile">
                <a href="/" {{action "addEmployee"}}><span></span></a>
            </li>
            <li class="toggle">
                <a href="/" {{action "toggleViewHiddenRows" on="click"}}><span></span></a>
            </li>
        </ul>
    </div>

    {{#if this.constants.saving}}
        <div id="saving"><span>Saving</span></div>
    {{/if}}
</div>

{{#if settings.isWeeklyCalendar}}
    {{calendar-widget elementId="calendarWeekly" daily=false width=width}}
{{/if}}

{{#if settings.isDailyCalendar}}
    {{calendar-widget elementId="calendarDaily" daily=true width=width}}
{{/if}}
