<div class="menu">
    <button {{action "toggleView" on="click"}}>
        {{#if assignment}}
            <span class="timeOff">Time off</span>
        {{else}}
            <span class="assignment">Assignment</span>
        {{/if}}
    </button>
</div>

{{#if assignment}}
    {{calendar-widget elementId="calendarWeekly" daily=false}}
{{else}}
    {{calendar-widget elementId="calendarDaily" daily=true}}
{{/if}}
{{yield}}
