<div id="year">2015</div>
<div class="menu">
    <ul class="tileOptions">
        {{#if isWeeklyCalendar}}
            <li class="assignments">
				<div class="empty" data-scope="text"><div></div></div>
                {{#each assignments as |assignment|}}
                    <div class="{{assignment.class}}" data-scope="text"><div></div></div>
                {{/each}}
            </li>
        {{/if}}
        {{#if isDailyCalendar}}
            {{time-away config=config}}
        {{/if}}
    </ul>

    <div class="buttonContainer">
        <button class="changeView" {{action "toggleView" on="click"}}>
            {{#if isWeeklyCalendar}}
                <span class="timeOff">Time off</span>
            {{/if}}
            {{#if isDailyCalendar}}
                <span class="assignment">Assignment</span>
            {{/if}}
        </button>

        {{#if this.constants.draggable}}
            <button id="dragDisable" {{action "dragDisable" on="click"}}><span>Drag Done</span></button>
        {{else}}
            <button id="dragEnable" {{action "dragEnable" on="click"}}><span>Drag Sort</span></button>
        {{/if}}

        <button id="today" {{action "scrollToday" on="click"}}><span>Today</span></button>

        <button id="addResource" {{action "addEmployee"}}><span>Add</span></button>

        <ul class="viewOptions">
            <li class="toggle">
                <a href="/" {{action "toggleViewHiddenRows" on="click"}}></a>
            </li>
        </ul>
    </div>

    {{#if this.constants.saving}}
        <div id="saving"><span>Saving</span></div>
    {{/if}}
</div>

{{#if isWeeklyCalendar}}
    {{calendar-widget elementId="calendarWeekly" daily=false width=width}}
{{/if}}

{{#if isDailyCalendar}}
    {{calendar-widget elementId="calendarDaily" daily=true width=width}}
{{/if}}
