<div class="vacation">{{resource.vacation}} Booked  <span class="taken">{{resource.vacationToDate}} Taken</span></div>
<div class="vacationCarryover"></div>
<div class="sick">{{resource.sick}}</div>
<div class="floaterDay">{{resource.floaterDay}}</div>
<div class="personal">{{resource.personal}}</div>
<div class="lieu"></div>
<div class="unofficial"></div>
