<ul class="viewOptions">
    {{#unless constants.disableEditing}}
        {{#unless readonly}}
            {{#if lockable}}
                <li class="lock">
                    <a href="{{resource.name}} {{resource.ad}}/edit" {{action "editing" on="click"}}><span></span></a>
                </li>
            {{/if}}

            <li class="toggle">
                <a href="{{resource.name}} {{resource.ad}}/toggle" {{action "toggleRow" on="click"}}></a>
            </li>
        {{/unless}}
    {{/unless}}

    {{#if hasDirects}}
        <li class="expand {{collapse}}">
            <a href="/" class="" {{action "toggleDirects" on="click"}}><span></span></a>
        </li>
    {{/if}}
</ul>

{{#if editing}}
    {{#unless resource.toDelete}}
        {{content-editable class="name" value=resource.name key-press="filter" focus-in=constants.focusInContentEditable}}
        {{content-editable class="name ad" value=resource.ad key-press="filter" focus-in=constants.focusInContentEditable}}
    {{else}}
    	<div class="name">{{resource.name}}</div>
    	<div class="name">{{resource.ad}}</div>
    {{/unless}}

    <ul class="tileOptions" data-deletingTiles="{{deletingTiles}}">
        {{#if settings.isWeeklyCalendar}}
            <li class="assignments">
                {{assignment-tile model=model.assignment paint=true}}
            </li>
        {{else if settings.isDailyCalendar}}
            <li class="timeAway">
                {{time-away settings=settings}}
            </li>
        {{/if}}
    </ul>

    <div class="delete tile">
        <input type="checkbox" id="deletePaintedtiles" onclick={{action "deleteTiles" event=event}} />
        <label for="deletePaintedtiles">Erase Tiles</label>
    </div>
{{else}}
	<div class="name">{{resource.name}}</div>
{{/if}}
{{#unless readonly}}
    {{resource-counters resource=resource}}
{{/unless}}

{{#if editing}}
    <div class="delete user">
        <input type="checkbox" id="deleteUser" onclick={{action "deleteUser" event=event}} />
        <label for="deleteUser">Delete {{resource.name}}</label>
        {{#if resource.toDelete}}
            <div class="message">
                {{#unless lockable}}
                    <p><a href="{{resource.name}} {{resource.ad}}/confirm delete" {{action "confirmDeleteUser" on="click"}}>Continue with delete?</a></p>
                {{else}}
                    <p>Lock the row to complete deletion of <span class="toDelete">{{resource.name}}</span></p>
                {{/unless}}
                <p>Uncheck checkbox to cancel this action</p>
            </div>
        {{/if}}
    </div>
{{/if}}
