<ul class="viewOptions">
    {{#unless readonly}}
        <li class="lock">
            <a href="/" {{action "editing" on="click"}}></a>
        </li>

        <li class="toggle">
            <a href="/" {{action "toggleRow" on="click"}}></a>
        </li>
    {{/unless}}

    {{#if resource.hasDirects}}
        <li class="expand {{collapse}}">
            <a href="/" class="" {{action "toggleDirects" on="click"}}></a>
        </li>
    {{/if}}
</ul>

{{#if editing}}
    {{content-editable class="name" value=resource.name key-press="filter" focus-in=constants.focusInContentEditable}}
    {{content-editable class="name ad" value=resource.ad key-press="filter" focus-in=constants.focusInContentEditable}}
    {{#if settings.isWeeklyCalendar}}
        <input type="checkbox" id="deletePaintedtiles" onclick={{action "deleteTiles" event=event}} />
        <label for="deletePaintedtiles">Delete</label>
        <ul class="tileOptions">
            <li class="assignments">
                {{assignment-tile model=model paint=true}}
            </li>
        </ul>
    {{/if}}
{{else}}
	<div class="name">{{resource.name}}</div>
{{/if}}
{{#unless readonly}}
    {{resource-counters}}
{{/unless}}
