{{#each model.resource as |resource index|}}
    <section class="resourceRow{{if resource.hidden ' hidden'}}" data-active="{{resource.active}}"
        data-name="{{resource.name}}"
        data-id="{{resource.id}}"
        data-index="{{index}}"
        draggable="{{if constants.draggable 'true'}}"
        ondragenter={{action "dragEnter"}}
        ondragstart={{action "dragStart"}}
        ondragend={{action "dragEnd"}}
        ondragover={{action "dragOver"}}
    >
        {{#if settings.isWeeklyCalendar}}
        	<div class="row" data-view="assignment">
                <div class="pointer"></div>
                <div class="sizer"></div>
                <div class="tiles">{{{resource.assignment}}}</div>
            </div>
        {{/if}}

        {{#if settings.isDailyCalendar}}
        	<div class="row" data-view="timeOff">
                <div class="pointer"></div>
                <div class="sizer"></div>
                {{calendar-holiday-tiles}}
                <div class="tiles">
                    {{{resource.timeaway}}}
                </div>
            </div>
        {{/if}}
        {{resource-info model=model index=index resource=resource updateName="updateName" updateRow="updateRow"}}

        {{#if resource.hasDirects}}
            {{#each model.directs as |direct index|}}
                <section class="resourceRow{{if direct.hidden ' hidden'}}" data-active="{{direct.active}}">
                    {{#if settings.isWeeklyCalendar}}
                    	<div class="row" data-view="assignment">
                            <div class="pointer"></div>
                            <div class="sizer"></div>
                            <div class="tiles">{{{direct.assignment}}}</div>
                        </div>
                    {{/if}}

                    {{#if settings.isDailyCalendar}}
                    	<div class="row" data-view="timeOff">
                            <div class="pointer"></div>
                            <div class="sizer"></div>
                            {{calendar-holiday-tiles}}
                            <div class="tiles">
                                {{{direct.timeaway}}}
                            </div>
                        </div>
                    {{/if}}
                    {{resource-info index=index resource=direct updateName="updateName" updateRow="updateRow" readonly=true}}
                </section>
            {{/each}}
        {{/if}}
    </section>
{{/each}}
