<ul class="viewOptions">
    <li class="lock">
        <a href="/" {{action "editing" on="click"}}></a>
    </li>

    <li class="toggle">
        <a href="/" {{action "toggleRow" on="click"}}></a>
    </li>

    <li class="expand">
        <a href="#" class=""></a>
    </li>
</ul>

{{#if editing}}
    {{content-editable class="name" value=resource.name key-press="filter"}}
{{else}}
	<div class="name">{{index}} {{resource.name}}</div>
{{/if}}
{{resource-counters}}
