{{#each model.resource as |resource index|}}
    <section class="resourceRow{{if resource.hidden ' hidden'}}"
        data-active="{{resource.active}}"
        data-expanded="{{resource.expanded}}"
        data-id="{{resource.id}}"
        data-index="{{index}}"
        data-name="{{resource.name}}"
        draggable="{{if constants.draggable 'true'}}"
        ondragenter={{action "dragEnter"}}
        ondragstart={{action "dragStart"}}
        ondragend={{action "dragEnd"}}
        ondragover={{action "dragOver"}}
    >
        {{resource-info model=model index=index resource=resource updateName="updateName" updateRow="updateRow"}}
        {{#if settings.isWeeklyCalendar}}
        	<div class="row" data-view="assignment">
                {{#if resource.active}}
                    <div class="pointer"></div>
                    <div class="sizer"></div>
                {{/if}}
                <div class="tiles">{{{resource.assignment}}}</div>
            </div>
        {{/if}}

        {{#if settings.isDailyCalendar}}
        	<div class="row" data-view="timeOff">
                {{#if resource.active}}
                    <div class="pointer"></div>
                    <div class="sizer"></div>
                {{/if}}
                {{calendar-holiday-tiles}}
                <div class="tiles">{{{resource.timeaway}}}</div>
            </div>
        {{/if}}

        {{#if resource.directs}}
            {{resource-direct resource=resource settings=settings}}
        {{/if}}
    </section>
{{/each}}
