<div class="directs">
    {{#each resource.directs as |direct index|}}
        <section class="resourceRow{{if direct.hidden ' hidden'}}"
            data-active="{{direct.active}}"
            data-expanded="{{direct.expanded}}"
            data-id="{{direct.id}}"
            data-index="{{index}}"
            data-name="{{direct.name}}"
        >
            {{resource-info index=index resource=direct updateName="updateName" updateRow="updateRow" readonly=true}}
            
            {{#if settings.isWeeklyCalendar}}
            	<div class="row" data-view="assignment">
                    <div class="pointer"></div>
                    <div class="sizer"></div>
                    <div class="tiles">{{{direct.assignment}}}</div>
                </div>
            {{/if}}

            {{#if settings.isDailyCalendar}}
            	<div class="row" data-view="timeOff">
                    <div class="pointer"></div>
                    <div class="sizer"></div>
                    {{calendar-holiday-tiles}}
                    <div class="tiles">
                        {{{direct.timeaway}}}
                    </div>
                </div>
            {{/if}}

            {{#if direct.directs}}
                {{resource-direct resource=direct settings=settings}}
            {{/if}}
        </section>
    {{/each}}
</div>
