<ul class="viewOptions">
    {{#unless constants.disableEditing}}
        {{#unless readonly}}
            <li class="lock">
                <a href="{{resource.name}} {{resource.ad}}/edit" {{action "editing" on="click"}}><span></span></a>
            </li>

            <li class="toggle">
                <a href="{{resource.name}} {{resource.ad}}/toggle" {{action "toggleRow" on="click"}}></a>
            </li>
        {{/unless}}
    {{/unless}}

    {{#if hasDirects}}
        <li class="expand {{collapse}}">
            <a href="/" class="" {{action "toggleDirects" on="click"}}></a>
        </li>
    {{/if}}
</ul>

{{#if editing}}
    {{content-editable class="name" value=resource.name key-press="filter" focus-in=constants.focusInContentEditable}}
    {{content-editable class="name ad" value=resource.ad key-press="filter" focus-in=constants.focusInContentEditable}}
    {{#if settings.isWeeklyCalendar}}
        <input type="checkbox" id="deletePaintedtiles" onclick={{action "deleteTiles" event=event}} />
        <label for="deletePaintedtiles">Delete</label>
        <ul class="tileOptions">
            <li class="assignments">
                {{assignment-tile model=model paint=true}}
            </li>
        </ul>
    {{else if settings.isDailyCalendar}}
        <input type="checkbox" id="deletePaintedtiles" onclick={{action "deleteTiles" event=event}} />
        <label for="deletePaintedtiles">Delete</label>
        <ul class="tileOptions">
            <li class="timeAway">
                {{time-away settings=settings}}
            </li>
        </ul>
    {{/if}}
{{else}}
	<div class="name">{{resource.name}}</div>
{{/if}}
{{#unless readonly}}
    {{resource-counters resource=resource}}
{{/unless}}
