{{#each model as |resource|}}
    <section class="resourceRow{{if resource.hidden ' hidden'}}" data-active="{{resource.active}}">
        {{#if isWeeklyCalendar}}
        	<div class="row" data-view="assignment">
                <div class="pointer"></div>
                <div class="sizer"></div>
                <div class="tiles">{{{resource.assignment}}}</div>
            </div>
        {{/if}}

        {{#if isDailyCalendar}}
        	<div class="row" data-view="timeOff">
                <div class="pointer"></div>
                <div class="sizer"></div>
                <div class="tiles">
                    {{#if resource.updated}}
                        {{resource.timeaway}}
                    {{else}}
                        {{{resource.timeaway}}}
                    {{/if}}
                </div>
            </div>
        {{/if}}
        {{resource-info resource=resource config=config updateName="updateName"}}
    </section>
{{/each}}
