<ul class="viewOptions">
    <li class="lock">
        <a href="/" {{action "editing" on="click"}}></a>
    </li>

    <li class="toggle">
        <a href="/" {{action "toggleRow" on="click"}}></a>
    </li>

    {{#if hasDirects}}
        <li class="expand">
            <a href="#" class=""></a>
        </li>
    {{/if}}
</ul>

{{#if editing}}
    {{content-editable class="name" value=resource.name key-press="filter" focus-in=constants.focusInContentEditable}}
    {{content-editable class="name" value=resource.ad key-press="filter" focus-in=constants.focusInContentEditable}}
{{else}}
	<div class="name">{{index}} {{resource.name}}</div>
{{/if}}
{{resource-counters}}
