{{#each model as |resource|}}
    <section class="resourceRow" data-active="{{resource.active}}">
        {{resource-info resource=resource active=active}}

        {{#if isWeeklyCalendar}}
        	<div class="row" data-view="assignment">
                <div class="tiles">{{{resource.assignment.tiles}}}</div>
                <div class="text">{{{resource.assignment.text}}}</div>
            </div>
        {{/if}}

        {{#if isDailyCalendar}}
    	<div class="row" data-view="timeOff">
            <div class="tiles">{{{resource.timeoff.tiles}}}</div>
            <div class="text">{{{resource.timeoff.text}}}</div>
        </div>
        {{/if}}

    </section>
{{/each}}
