{{#unless nodate}}
    {{date-line}}
{{/unless}}
<div class="{{assignmentViewContainer}}">
{{#each model as |assignment index|}}
    {{#if (assignment-view-people settings.view assignment.id currentAssignment)}}
        {{assignment-row assignment=assignment index=index}}
    {{/if}}
{{/each}}
</div>
{{#if settings.isDailyCalendar}}
    <div class="rowContainer">
        {{#each persons as |resource|}}
            <section class="resourceRow" data-type="person">
            	<div class="row" data-view="timeOff">
                    {{calendar-holiday-tiles}}
                    <div class="tiles">{{{resource.timeaway}}}</div>
                </div>
            {{resource-info model=persons index=index resource=resource readonly=true}}
            </section>
        {{/each}}
    </div>
{{/if}}
