<div id="yearContainer">
    <a href="{{yearPrevPath}}" class="year" id="yearPrev">{{yearPrev}}</a>
    <div class="year" id="yearCurrent">{{year}}</div>
    <a href="{{yearNextPath}}" class="year" id="yearNext">{{yearNext}}</a>
</div>
