<div id="pageContainer"
    data-action="edit"
    data-dragging={{constants.draggable}}
    data-editing="{{constants.editingRow}}"
    data-show-hidden={{settings.showHiddenRows}}
    data-view="assignment"
>
    {{header-section addAssignment="addAssignment"}}
    <main>
        {{outlet}}
    </main>
</div>
