{{dynamic-styles showAssignment=true numAssignmentsViewing=40}}
<style id="dynamicInfoPos"></style>

<div id="pageContainer"
    data-route={{router.currentRouteName}}
    data-dragging={{constants.draggable}}
    data-editing="{{constants.editingRow}}"
    data-show-hidden={{settings.showHiddenRows}}
    data-view="{{constants.dataView}}"
    data-view-team={{constants.teamAssignmentView}}
>
    {{header-section model=model addAssignment="addAssignment" settings=settings}}
    <main>
        {{outlet}}
    </main>
</div>
