<style>
    .info { left:{{constants.leftScroll}}px; }
    .directs .resourceRow:before { left:{{constants.leftScroll}}px; }
    .directs .resourceRow[data-expanded="true"]:last-child .row:before { left:{{constants.leftScroll}}px; }
    .dateMarker { left:{{constants.mousePos}}px; }
    #dateLine { left:{{constants.mousePos}}px; }
</style>
<div id="pageContainer"
    data-route={{router.currentRouteName}}
    data-dragging={{constants.draggable}}
    data-editing="{{constants.editingRow}}"
    data-show-hidden={{settings.showHiddenRows}}
    data-view="assignment"
>
    {{header-section model=model addAssignment="addAssignment" settings=settings}}
    <main>
        {{outlet}}
    </main>
</div>
