{{! do not move styles to component as it will cause multiple view renders}}
<style>
    .info { left:{{leftScroll}}px; }
    .dateMarker { left:{{mousePos}}px; }
    #dateLine { left:{{mousePos}}px; }
    {{counterCSS}}
</style>

<div id="pageContainer"
    data-dragging={{constants.draggable}}
    data-editing="{{constants.editingRow}}"
    data-show-hidden={{settings.showHiddenRows}}
    data-view="{{settings.view}}"
>
    {{header-section model=model settings=settings updateName="updateName" addEmployee="addEmployee"}}
    <main>
        <div class="dateLine" id="dateLine"></div>
        <div class="dateLine" id="todayDateLine"></div>
        {{resource-row model=model settings=settings updateName="updateName"}}
    </main>
</div>

<style>
    section.resourceRow[data-active="true"] .row:before { width:{{constants.prevYear}}px; }
</style>
