{{! do not move styles to component as it will cause multiple view renders}}
<style>
    .info,
    .directs .resourceRow:before,
    .directs .resourceRow[data-expanded="true"]:last-child .row:before { left:{{constants.leftScroll}}px; }
    .dateMarker,
    #dateLine { left:{{constants.mousePos}}px; }
    .assignmentViewContainer { width:{{constants.calWidth}}px; }
    {{#if showAssignment}}
        .rowContainer { padding-top:{{numAssignmentsViewing}}px;}
    {{/if}}
    {{counterCSS}}

    {{#if constants.scrollingH}}
        section.resourceRow .info {
            position:fixed;
            margin-top:{{constants.fromV}}px;
            the:{{constants.the}}px;
            z-index:3;
        }
    {{else}}
        section.resourceRow .info {
            position:absolute;
            margin-left:-70px;
            left:{{constants.fromH}}px;
            top:0;
        }
    {{/if}}
</style>
<style id="vert"></style>

<div id="pageContainer"
    data-dragging={{constants.draggable}}
    data-editing="{{constants.editingRow}}"
    data-show-hidden={{settings.showHiddenRows}}
    data-view="{{settings.view}}"
>
    {{header-section model=model settings=settings updateName="updateName" addEmployee="addEmployee" showAssignment=showAssignment viewAssignment=viewAssignment}}

    <main>
        {{date-line}}
            <div class="assignmentViewContainer">
                {{#if showAssignment}}
                    {{assignment-index model=viewAssignment nodate=true readOnly=true}}
                {{/if}}
            </div>
        <div class="rowContainer">
            {{resource-row model=model settings=settings updateName="updateName"}}
        </div>
    </main>
</div>

<style>
    section.resourceRow[data-active="true"] .row:before { width:{{constants.prevYear}}px; }
    .pointer { left:{{constants.prevYear}}px}
</style>
