<div id="pageContainer" data-page="profile" data-edit="{{editing}}">
{{#each model as |item|}}
<style>
    /*blouse*/
    ul.viewOptions .profile a .person:before {
        background:{{item.dress}};
    }

    /*hair*/
    ul.viewOptions .profile a .person .hair:before {
        background:linear-gradient(to bottom, {{item.highlight}} 25%, {{item.lowlight}} 75%, rgba(0, 0, 0, 0.5) 100%) !important;
    }

    /*bangs*/
    ul.viewOptions .profile a .person .hair:after {
        background:linear-gradient(50deg, {{item.lowlight}} 25%, {{item.highlight}} 75%, {{item.highlight}} 100%);
    }

    /*lipstick*/
    ul.viewOptions .profile a .person .face:before {
        border-bottom-color:{{item.lipstick}};
        border-right-color:{{item.lipstick}};
    }

    /*lipstick animation*/

    [data-edit="true"] ul.viewOptions .profile a .person.female .face:before,
    ul.viewOptions .profile a:hover .person.female .face:before {
        border:1px solid {{item.lipstick}};
        border-bottom-width:2px;
    }

    /*necklace*/
    ul.viewOptions .profile a .person .neck:after {
        box-shadow:{{item.necklace}} 0.8em 0 0 0, {{item.necklace}} 0.6em 0.6em 0 0, {{item.necklace}} 0 1em 0 0, {{item.necklace}} -0.6em 0.6em 0 0, {{item.necklace}} -0.8em 0 0 0;
    }
</style>

<header>
    <div class="menu">
        <div class="buttonContainer">
            <ul class="viewOptions">
                <li class="profile">
                    <a href="javascript:void(0)">
                        <span class="person female">
                            <span class="hair"></span>
                            <span class="face"></span>
                            <span class="neck"></span>
                        </span>
                    </a>
                </li>
                {{#unless editing}}
                    <li class="assignment">
                        <a href="javascript:void(0)" {{action "edit" on="click"}}>
                            <span class="pencil"><span class="wood"></span></span>
                            <span class="text">Edit</span>
                        </a>
                    </li>
                {{/unless}}
            </ul>
            {{#if editing}}
                <div class="custom">
                    <div data-element="hair">
                        <div class="label">Highlights</div>
                        <a href="javascript:void(0)" style="background:#b12800;" {{action 'highlight' item}}></a>
                        <a href="javascript:void(0)" style="background:#abc;" {{action 'highlight' item}}></a>

                        <div style="position:absolute;top:0;left:70px;">
                            <div class="label">Lowlights</div>
                            <a href="javascript:void(0)" style="background:#804208;" {{action 'lowlight' item}}></a>
                            <a href="javascript:void(0)" style="background:#ff9caa;" {{action 'lowlight' item}}></a>
                        </div>
                    </div>
                    <div data-element="dress">
                        <div class="label">Blouse</div>
                        <a href="javascript:void(0)" style="background:#6666ff;" {{action 'dress' item}}></a>
                        <a href="javascript:void(0)" style="background:red" {{action 'dress' item}}></a>
                        <div style="position:absolute;top:0;left:60px;">
                            <div class="label">Lipstick</div>
                            <a href="javascript:void(0)" style="background:red" {{action 'lipstick' item}}></a>
                            <a href="javascript:void(0)" style="background:#c1a" {{action 'lipstick' item}}></a>
                        </div>
                    </div>

                    <div data-element="necklace">
                        <div class="label">Necklace</div>
                        <a href="javascript:void(0)" style="background:#f9c115;" {{action 'necklace' item}}></a>
                        <a href="javascript:void(0)" style="background:#80FF00;" {{action 'necklace' item}}></a>
                    </div>
                </div>
            {{/if}}
            <div class="name">{{item.firstname}} {{item.lastname}}</div>
        </div>
    </div>
</header>

<main>
    <div id="form">
        <div class="item">
            <label>Email:</label>
            {{input class="input" value=item.email focus-out="save"}}
        </div>
        <div class="item">
            <label>Mobile #:</label>
            {{input class="input" value=item.mobile focus-out="save"}}
        </div>
        <div class="item">
            <label>Mailing Address:</label>
            {{input class="input" value=item.mailingaddress focus-out="save"}}
        </div>
        {{#if editing}}
            <button id="ok" {{action 'edit' on='click'}}>OK</button>
        {{/if}}
    </div>
</main>
{{/each}}
</div>
